<swiper class="swiper-container" [config]="config" [index]="index" style="cursor: grabbing;"
  (indexChange)="onIndexChange($event)">
  <div *ngFor="let v of videos" class="swiper-slide">
    <div class="swiper-slide" id="{{v.id}}">
      <video preload="auto" crossorigin height="100%" controls loop [autoplay]="v.id===index" muted playsinline>
        <source type="video/mp4" [src]="v.url" />
      </video>
      <div id="overlay-text">
        <p id="username">Developed by Aakash Sinha</p>
        <p id="description">&copy; 2020-21 All rights reserved!</p>
      </div>
    </div>
  </div>
</swiper>
<ngx-spinner></ngx-spinner>
